
body{
    background-image: url("Mars.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #DDE;
    color: #F00;
}
.AcidemicAchievements{
    border: 5px solid #ACA;
}
div{
    column-count: 1;
}
.PastExperiences{
    column-count: 1;
}

h1, h2, h3{
    text-align: center;
}
.class{
    color: #FED;
}
p{
    text-align: left;
    color: #19E;
    font-family: 'Oxygen', sans-serif;
}
.fuck{
    color: #000;
}
ul{
    color: #A33;
    font-family: "Arial";
    display: table; 
    margin:0 auto;
}
.academics{
     color: #F0F;   
     font-family: monospace;
}
#Header{
    color: #FED;
}
#AcidemicAchievements{
    color:#000;
}
