
body,html{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    color: #F00;
    height: 100%;
}
.AcidemicAchievements{
    border: 5px solid #ACA;
}
.parallax1{
    background-image: url("SelfieProm2017.jpg");
   
    height: 30%;
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2{
    background-image: url("Mars.jpg");
   
    height: 30%;
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    column-count: 1;
    overflow: hidden;
}
#Avademics{
    padding-left: 27%;
    padding-right: 27%;
    background-color: rgba(21,21,57,.6);
}
#School{
    padding-left: 27%;
    padding-right: 27%;
    background-color: rgba(10,100,100,.5);
}
#FavoriteExperiences{
    padding-left: 27%;
    padding-right: 27%;
    background-color: rgba(50,5,100,.6);
    
}
#Intro{
    padding-left: 27%;
    padding-right: 27%;
    background-color: transparent;
}

button{
    text-align: center;
    background-color: transparent;
    border: none;
    color: #FFF;
}

h1, h2, h3{
    text-align: center;
}
.class{
    color: #FED;
}
p{
    text-align: left;
    color: #19E;
    font-family: 'Oxygen', sans-serif;
}
.cuck{
    color: #EEE;
}
ul{
    color: #A33;
    font-family: "Arial";
    display: table; 
    margin:0 auto;
}
#academics{
     color: #19E;   
     font-family: monospace;
     
}
#academics1{
     color: #19E;   
     font-family: monospace;
}
#academics2{
     color: #19E;   
     font-family: monospace;
}
#academics3{
     color: #19E;   
     font-family: monospace;
}

table{
    margin-right: auto;
    margin-left: auto;
}
